fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
pydantic
pydantic-settings
python-dotenv
mlflow
ngboost
torch
pandas
numpy
matplotlib
seaborn
jupyter
scikit-learn
xgboost
imbalanced-learn
boruta
statsmodels==0.14.6
chainladder
shap
joblib
python-jose[cryptography]
passlib[bcrypt]
prometheus-fastapi-instrumentator
structlog
